
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>@ViewBag.Title</h2>



<div id="content">
    <h3>@ViewBag.Message </h3>
    <p>So I hear that you are @ViewBag.Age years old?  Cool!</p>
</div>
